<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>SAFAR</title>
</head>
<body>
    <div class="logo-container">
        <div class="logo">
            <span style="color:#0b5b0e">S</span>
            <span style="color:#661107">A</span>
            <span style="color:#c89a11">F</span>
            <span style="color:#1802ab">A</span>
            <span style="color:#940096">R</span>
        </div>
        <form action="/search" class="search-container" method="post">
            <input class="search-input" name="busqueda" type="text" placeholder="Busqueda">
            <a class="search-button"><button>Buscar</button></a>
        </form>
    </div>

</body>
</html>















